[Bb]in
[Oo]bj
[Ll]ogs
[Pp]ackages
[Pp]ublish[Pp]rofiles
[Hh]elp
[Bb]uild
[Nn]uget

_[Ss]cripts
*[Uu]pgrade[Rr]eport*
*[Rr]esharper*

*.[Bb]ackup
*.[Cc]ache
*.[Bb]ackup.*

*.suo
*.user
*.vssscc
*.vspscc
*.sdf
*.vsmdi
*.log
*.[Pp]ublish.xml
[Uu]pgrade[Ll]og.*

*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.vsp
*.psess
*.orig
*.chm

*.bak
*.zip
*.ncrunchproject
*.ncrunchsolution
*.dotsettings

log.txt
mausch.snk


# mstest test results
[Tt]est[Rr]esults
testimpactdata.sdf


tools/Sandcastle/Data/Reflection/*
merged
solr/solr/data
solr/logs
NDependOut
docs
lib/TDNet
SampleSolrApp/log*
_NCrunch*/*
*~

