<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="solr" type="Unity.SolrNetIntegration.Config.SolrConfigurationSection, Unity.SolrNetIntegration" />
	</configSections>
	<solr>
		<server id="entity" url="http://localhost:8983/solr/collection1" documentType="Unity.SolrNetIntegration.Tests.Entity, Unity.SolrNetIntegration.Tests"/>		
		<server id="entity2" url="http://localhost:8983/solr/core0" documentType="Unity.SolrNetIntegration.Tests.Entity2, Unity.SolrNetIntegration.Tests"/>
    <!--Same document type, different url, different name-->
		<server id="entity3" url="http://localhost:8983/solr/core1" documentType="Unity.SolrNetIntegration.Tests.Entity2, Unity.SolrNetIntegration.Tests"/>
	</solr>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
