<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="solr" type="Unity.SolrNetIntegration.Config.SolrConfigurationSection, Unity.SolrNetIntegration" />
	</configSections>
	<solr>
		<server id="entity" url="http://localhost:8983/solr/techproducts/collection1" documentType="Unity.SolrNetIntegration.Tests.Entity, Unity.SolrNetIntegration.Tests" />		
		<server id="entity2" url="http://localhost:8983/solr/techproducts/core0" documentType="Unity.SolrNetIntegration.Tests.Entity2, Unity.SolrNetIntegration.Tests" />
    <!--Same document type, different url, different name-->
		<server id="entity3" url="http://localhost:8983/solr/techproducts/core1" documentType="Unity.SolrNetIntegration.Tests.Entity2, Unity.SolrNetIntegration.Tests" />
	</solr>

</configuration>
