<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="solr" type=" Ninject.Integration.SolrNet.Config.SolrConfigurationSection,  Ninject.Integration.SolrNet" />
	</configSections>
	<solr>
		<server id="entity" url="http://localhost:8983/solr/techproducts/core0" documentType="Ninject.Integration.SolrNet.Tests.Entity,  Ninject.Integration.SolrNet.Tests" />
		<server id="entity2" url="http://localhost:8983/solr/techproducts/core1" documentType="Ninject.Integration.SolrNet.Tests.Entity2,  Ninject.Integration.SolrNet.Tests" />
	</solr>

</configuration>
