<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="solr" type=" Ninject.Integration.SolrNet.Config.SolrConfigurationSection,  Ninject.Integration.SolrNet"/>
	</configSections>
	<solr>
		<server id="entity" url="http://localhost:8983/solr/core0" documentType="Ninject.Integration.SolrNet.Tests.Entity,  Ninject.Integration.SolrNet.Tests"/>
		<server id="entity2" url="http://localhost:8983/solr/core1" documentType="Ninject.Integration.SolrNet.Tests.Entity2,  Ninject.Integration.SolrNet.Tests"/>
	</solr>
		<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.DynamicProxy2" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
				<bindingRedirect oldVersion="2.0.3.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.3.0" newVersion="1.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
