<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.1" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net46" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net46" />
  <package id="Unity" version="4.0.1" targetFramework="net46" />
  <package id="ZooKeeperNetEx" version="3.4.10.1" targetFramework="net46" />
</packages>