<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="solr" type="AutofacContrib.SolrNet.Config.SolrConfigurationSection, AutofacContrib.SolrNet" />
  </configSections>
  <solr>
    <server id="entity1" url="http://localhost:8983/solr/techproducts/entity1" documentType="AutofacContrib.SolrNet.Tests.Entity1, AutofacContrib.SolrNet.Tests" />
    <server id="entity2" url="http://localhost:8983/solr/techproducts/entity2" documentType="AutofacContrib.SolrNet.Tests.Entity2, AutofacContrib.SolrNet.Tests" />
  </solr>
  
</configuration>
