<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="solr" type="AutofacContrib.SolrNet.Config.SolrConfigurationSection, AutofacContrib.SolrNet" />
  </configSections>
  <solr>
    <server id="entity1" url="http://localhost:8983/solr/entity1" documentType="AutofacContrib.SolrNet.Tests.Entity1, AutofacContrib.SolrNet.Tests" />
    <server id="entity2" url="http://localhost:8983/solr/entity2" documentType="AutofacContrib.SolrNet.Tests.Entity2, AutofacContrib.SolrNet.Tests" />
  </solr>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
