name: SolrNet
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        solr_version:
        - 9.6.1
        - 8.11.4
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          install_url: https://releases.nixos.org/nix/nix-2.23.3/install
      - name: Unit tests
        run: ./unit_tests.sh
      - name: Integration tests
        run: ./integration_tests.sh
        env:
          SOLR_VERSION: ${{ matrix.solr_version }}
        timeout-minutes: 7
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: tests
          path: "*/TestResults/test-results.trx"
          reporter: dotnet-trx
      # - name: SolrCloud tests
      #   run: ./cloud_tests.sh
      #   env:
      #     SOLR_VERSION: ${{ matrix.solr_version }}
      #   timeout-minutes: 5
      # - name: Archive test output
      #   uses: actions/upload-artifact@v2
      #   if: ${{ env.CLOUD_TEST_OUTPUT }}
      #   with:
      #     name: test-output
      #     path: ${{ env.CLOUD_TEST_OUTPUT }}
  pack:
    runs-on: ubuntu-22.04
    needs: test
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v4
        with:
         fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
      - uses: cachix/install-nix-action@v27
        with:
          install_url: https://releases.nixos.org/nix/nix-2.23.3/install
      - name: Pack
        run: ./pack.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Git tag
        uses: mathieudutour/github-tag-action@v5.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ env.VersionTag }}
