<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="solr" type="StructureMap.SolrNetIntegration.Config.SolrConfigurationSection, StructureMap.SolrNetIntegration"/>
    </configSections>
    <solr>
        <server id="entity" url="http://localhost:8983/solr/techproducts/collection1" documentType="StructureMap.SolrNetIntegration.Tests.Entity, StructureMap.SolrNetIntegration.Tests"/>
        <server id="entity2" url="http://localhost:8983/solr/techproducts/core0" documentType="StructureMap.SolrNetIntegration.Tests.Entity2, StructureMap.SolrNetIntegration.Tests"/>
        <server id="entity3" url="http://localhost:8983/solr/techproducts/core1" documentType="StructureMap.SolrNetIntegration.Tests.Entity2, StructureMap.SolrNetIntegration.Tests"/>
    </solr>
</configuration>