<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="solr" type="StructureMap.SolrNetIntegration.Config.SolrConfigurationSection, StructureMap.SolrNetIntegration"/>
	</configSections>
	<solr>
		<server id="entity" url="http://localhost:8983/solr/entity" documentType="StructureMap.SolrNetIntegration.Tests.Entity, StructureMap.SolrNetIntegration.Tests"/>		
		<server id="entity2" url="http://localhost:8983/solr/entity2" documentType="StructureMap.SolrNetIntegration.Tests.Entity2, StructureMap.SolrNetIntegration.Tests"/>
	</solr>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
